button.close{
    top: 10px;
    right: 10px;
    width: 35px;
    height: 35px;
    color: #878787;
    font-size: 25px;
    background: none;
    position: absolute;
    line-height: 23px;
    transition: 0.1s;
    border-radius: 10px;
    font-family: $app-font;
    border: 1px solid #878787;
    &:hover{
        color: white;
        border-color: white;
    }
}
button[type='submit']{
    font-family: $app-font;
    font-size: 20px;
    font-weight: 600;
    border: 0;
    border-radius: 10px;
    width: 100%;
    color: white;
    padding: 10px;
    transition: 0.1s;
    background-color: #2c4fe3;
    &:hover{
        background-color: #667fec;
    }
}