@import '/src/assets/scss/fonts.scss';
.modal-holder{
    width: 100%;
    height: 100%;
    z-index: 1000;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.75);
    display: none;
    &.show{
        display: flex;
    }
}
.modal{
    width: 100%;
    margin: auto;
    max-width: 500px;
    max-height: 500px;
    border-radius: 20px;
    height: max-content;
    background-color: #161616;
    .header{
        color: white;
        display: flex;
        padding: 10px;
        position: relative;
        background-color: #222222;
        border-radius: 20px 20px 0 0;
        h6{
            margin: 0;
            font-size: 25px;
        }
        img{
            width: 20px;
            height: 20px;
            filter: invert(1);
            margin: auto 10px;
        }
    }
    .body{
        display: flex;
        flex-flow: column;
        padding: 15px 20px 20px;
        justify-content: center;
        .button-holder{
            border: 0;
            border-radius: 10px;
            height: 35px;
            display: flex;
            justify-content: center;
            padding: 5px;
            background-color: #222222;
            button{
                border: 0;
                border-radius: 10px;
                background: none;
                color: #878787;
                font-family: $app-font;
                flex: 1;
                transition: 0.2s;
                &.enabled{
                    color: white;
                    background-color: #1a1a1a;
                }
            }
        }
        p{
            color: #878787;
            font-size: 14px;
            text-align: center;
            margin-top: 20px;
        }        
    }
    .footer{
        border-radius: 0 0 20px 20px;
        padding: 10px 20px 20px;
    }
}